.menu-list {
    margin-bottom: 30px;
}
.menu-list li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    box-sizing: border-box;
  }
  .menu-list li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .menu-list li {
    position: relative;
    left: 5px;
  }
  .menu-list .active {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .menu-list i {
    display: inline-flex;
    margin-right: 8px;
  }
  .menu-list li i img {
    opacity: 0.6;
  }
.menu__add-list {
    opacity: 0.5;
    transition: 0.3s;
}
.menu__add-list:hover {
  cursor: pointer;
  color: black;
  opacity: 1;
}
.menu__add-btn {
  transform: scale(0.85);
}
.menu-list span {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-list__remove-icon {
  opacity: 0;
  transition: 0.4s;
}
.menu-list li:hover .menu-list__remove-icon {
  opacity: 0.2;
}
.menu-list li .menu-list__remove-icon:hover {
  opacity: 0.8;
}
